<div id="posts-wrap">
    {{#each posts as |post|}}
    <a href="/dashboard/edit/{{post.id}}" class="tan">
        <div id="post-block">
            <p>{{post.title}}</p>
            <p id="post-date">{{format_date post.updated_at}}</p>
        </div>
    </a>
    {{/each}}
</div>

<div id="new-post">
    <a href="/dashboard/new">+ New Post</a>
</div>