<div id="form-container">
<h2>Create New Post</h2>

<form class="post-form">
    <div class="form-group">
        <label for="post-title">Title</label>
        <input class="form-input" type="text" id="post-title">
    </div>
    <div class="form-group">
        <label for="post-content">Content</label>
        <textarea class="form-input" type="text" id="post-content" rows="7"></textarea>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>
</div>

<script src="/js/post.js"></script>